p {
    font-family: 'Sarabun', sans-serif;
}
h1 {
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    font-size: 80px;
}

h2 {
    font-family: 'Sarabun', sans-serif;
    font-weight: 600; 
    font-size: 40pt;
}

h3 {
    font-family: 'Sarabun', sans-serif;
    font-weight: 600; 
    
}

a {
    color:#F55D3E;
}

#desc {
    font-weight: 300;
}

#bio {
    font-size: 12pt;
    padding: 12pt;
}

ul {
    list-style: none;
    padding-left: 0;
}