p {
    font-family: 'Sarabun', sans-serif;
    margin: 0px;
    padding: 1px;
}
h1 {
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    font-size: 80px;
}

h2 {
    font-family: 'Sarabun', sans-serif;
    font-weight: 600; 
    font-size: 40pt;
    text-align: center;
}

h3 {
    font-family: 'Sarabun', sans-serif;
    font-weight: 600; 
}

h5 {
    font-weight: 600;
}

a {
    color:#F55D3E;
}

.email {
    color: white;
    text-decoration: underline;
}

#desc {
    font-weight: 300;
}

#bio {
    font-size: 12pt;
    padding: 12pt;
}

ul {
    list-style: none;
    padding-left: 0;
}

.page-footer {
    background-color: #297373;
    color: white;
    font-weight: 100;
    padding: 15px 5px;
}

#description {
    padding-top: 0px;
    background-color: aliceblue;
}

.center {
    display: block;
    width: 200px;
    padding-top: 0px;
    padding-bottom: 40px;
  }

#proj-descr {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#proj-descr-text {
    font-size: 16px;
    font-weight: 200;
}

@media (min-width:768px) {
    #proj-descr-text {
        font-size: 20px;
    }
}

@media (min-width:992px) {
    #proj-descr-text {
        font-size: 24px;
    }
}
